@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond','Playfair Display', serif;
    text-decoration: none;   
    background-color:#e3e7eb;
}

nav ul li .home, nav ul li .testimonials{
    font-weight: 500;
}

nav ul li .myproject{   
    font-weight: bolder;
}

.project-form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
  
.project-form .form-container {
    width: 600px;
}
  
.project-form .form-container h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 5%;
}

.form-container label, .checkbox p {
    font-size: 20px;
    font-weight: 700;
}

.form-container .date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.project-form form input, textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f5f5dc;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    resize: none;
}

.project-form .checkbox-l {
    display: inline-flex;
    align-items: start;
    margin-right: 30%;
    cursor: pointer;
    font-weight: 500;
}

.project-form .checkbox-i{
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

.project-form .input-project-image-group label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color:gray;
    border: 1px groove gray;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: end;
}

.btn .submit {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    margin: 30px 0;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.blog-project-container , .blog-project-container h1, .blog-contents, .blog-card, .blog-card h3,.blog-card a, .blog-card h4, .blog-card p, .blog-card .btn-blog, .blog-card .icon, .blog-card .icon-tech i, .icon-tech img
{
    background-color: white;
}

.blog-project-container {
    border-top: 1px groove white;
    width: 100%;
}

.blog-project-container h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.blog-project-container .blog-contents {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: flex-start;
    grid-auto-flow: dense;
}

.blog-project-container .blog-card {
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
}

.blog-project-container .blog-card img {
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 200px;
}

.blog-project-container .blog-card a {
    color: black;
}

.blog-project-container .blog-card h4{
    color: gray;
}

.blog-project-container .blog-card p {
    margin-bottom: 20px;
}

.blog-project-container .icon-tech{
    display: inline-flex;
    background-color: #fff;
}

#icon-nodeJs, #icon-nextJs, #icon-reactJs, #icon-typeScript {
    background-color: #fff;
}

.blog-project-container .icon-tech i {
    font-size: 25px;
    margin: 20px 10px 10px;
}

.blog-project-container .icon-tech img {
    width: 25px;
    height: 25px;
    margin: 20px 10px 10px;
}

.blog-project-container .btn-blog {
    margin: 10px 5px 0;
}

.btn-blog .btn-blog-edit, .btn-blog .btn-blog-delete {
    width: 140px;
    height: 25px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .project {
        margin-top: 15%;
    } 
    .project-form .form-container {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .project {
        margin-top: 56px;
    } 
    .project-form .form-container {
        width: 80%;
    }
    .project-form .form-container h1 {
        font-size: x-large;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .project-form form input, textarea, .form-container label, .checkbox p, .submit {
        font-size: medium;
    }
    .project-form .checkbox-l {
        margin-right: 20%;
    }
    .blog-project-container .blog-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .btn-blog .btn-blog-edit,.btn-blog .btn-blog-delete {
        margin-bottom: 15px;
        font-size: medium;
    }
}
@media only screen and (max-width: 379px) {
    .project-form .checkbox-l {
        margin-right: 10%;
    }
    .blog-project-container .blog-card {
        width: 250px;
    }
    .blog-project-container .blog-card img {
        width: 250px;
        height: 200px;
    }
    .blog-project-container .icon-tech i {
        font-size: medium;
        margin: 20px 5px 10px;
    }
    .blog-project-container .icon-tech img {
        width: 15px;
        height: 15px;
        margin: 20px 5px 10px;
    }
    .btn-blog .btn-blog-edit,.btn-blog .btn-blog-delete {
        width: 110px;
        margin-bottom: 10px;
    }
}