@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond','Playfair Display', serif;
    text-decoration: none;   
    background-color: #d0d6d1;  
}

nav, nav ul, nav ul li, .nav-left a, nav ul li img, .nav-right {
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
}
.nav-left {
    margin-left: 5%;
    flex: 60%; 
}

.nav-left a {
    color: black;
}

nav ul li .home{
    font-weight: bolder;
}

nav ul li .myproject{   
    font-weight: 500;
}

.nav-right { 
    flex: 40%;
    text-align: end;
    margin-right: 100px;
}

.nav-right a {
    background-color: black;
    width: 80px;
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    margin-right: -30px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    height: 80vh;
}

section,section .left, section h1, section .right, section .icon, section .right img, section p {
    background-color: #fff;
}

section{  
    display: flex;
    width: 90%;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

section .left {     
    flex: 70%;
}

section .left h1 {
    font-size: 5vh;
    margin-top: 10px;
    padding-left: 5%;
}

section .left p {
    margin-top: 10px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

.container .contact {
    display: flex;
    background-color: #fff;
}

.container button {
    background-color: black;
    width: 100px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer; 
}

.container .contact p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.container .icon i {
    background-color: #fff;
    font-size: 30px;
    margin-top: 10px;
    padding-left: 5%;
    cursor: pointer;
}

.container .right {
    flex: 30%;
    text-align: center;
}

.container .right img {
    width: 50%;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
}

.container .right h1 {
    font-weight: bolder;
}

.container .right p {   
    font-size: 20px;   
}