@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond','Playfair Display', serif;
    text-decoration: none;   
    background-color: #d0d6d1;  
}

nav {
    background-color:white;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li .home{
    background-color: white;
    color: black;
    font-weight: bolder;
}

nav ul li .myproject{
    background-color: white;
    color: black;
    font-weight: 500;
}

.nav-left {
    margin-left: 80px;
    flex: 50%; 
}

.nav-right { 
    flex: 50%;
    text-align: end;
    margin-right: 100px;
}

.nav-right a {
    background-color: black;
    width: 100px;
    font-size: 20px;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

section{  
    display: flex;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

section .left { 
    background-color: white;
    flex: 60%;
}

section .left h1 {
    background-color: white;
    font-size: 5vh;
    margin-top: 10px;
    padding-left: 5%;
}

section .left p {
    margin-top: 10px;
    background-color: white;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

section .contact {
    display: flex;
}

section button {
    background-color: black;
    width: 100px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer; 
}

section .contact p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

section .icon {
    background-color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 5%;
    cursor: pointer;
}

section .right {
    background-color: white;
    flex: 40%;
    text-align: center;

}

section .right img {
    background-color: white;
    width: 50%;
    margin-top: 10px;
    border-radius: 20px 20px 0 0;
}

section .right h1 {
    background-color: white;
    font-weight: bolder;
}

section .right p {   
    background-color: white;
    font-size: 20px;
    
}